[user]
	email = git@jtp.sh
	name = Jeffrey Pablo
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd|%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
[core]
	excludesfile = ~/.gitignore_global
